<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/css/player.css"/>
</head>

<body>
    
    <header class='top' id="trainerIntro">
        <h1>Trainer Page</h1>
        <h2>Welcome Trainer to the wonderful world of Pokémon!</h2>
        <p>If your are a returning Pokémon Trainer go ahead and sign-in and acess your trainer profile.</p>
        <p>If you are a new Trainer, go ahead and get your very own starter pokémon by visiting Professor Oak</p>
        <h2>Click the center of the pokeball to view the Pokedex!</h2>
        <p>...</p>
    </header>

    <nav id="trainerLinks">
        <a class='direct' href="/players/login">View Trainer Profile</a>
        <br>
        <a class='direct' href="/players/signup">Vist Professor Oak</a>
    </nav>
    
    <main id='pokeball'>
        <div class='top'></div>
        <div class='centerline'>
            <div id='outercircle'>
                <div id="innercircle">
                    <div id='innercircleContent'>
                        <a href="/pokemon" id="pdexBtn">Pokédex App</a><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class='bottom'></div>
    </main>
   
</body>